/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 400;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/*Navigation Section*/
nav {
  background-color: #ffc017;
  color: #000;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 40px;
}

.logo-container {
  font-family: inherit;
  font-style: italic;
}

.logo-container a {
  background-color: #000;
  color: #ffc017;
  display: block;
  font-weight: 900;
  height: 70px;
  margin: 10px 0;
  padding-top: 20px;
  text-align: center;
  width: 100px;
}

.logo-container a:hover {
  background-color: #fff;
  color: #000;
}

.nav-container ul {
  display: flex;
  margin-left: auto;
}

.nav-container ul li {
  margin-left: 20px;
}

.nav-container ul li:hover {
  border-bottom: 2px solid #000;
}

/*HomePage Section*/

.homePage {
  background-color: #ffc017;
  border-top: 1px solid #000;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  border-bottom: 1px solid #000;
}

.homePage h1 {
  font-size: 96px;
  font-weight: 900;
  margin-bottom: 50px;
}

.homePage p {
  font-size: 20px;
  font-weight: 300;
  color: rgb(24, 21, 21);
  margin-bottom: 50px;
}

.homePage a {
  background-color: #080808;
  border-radius: 20px;
  color: #fff;
  display: block;
  height: 40px;
  padding-top: 10px;
  width: 150px;
  text-align: center;
}

.homePage a:hover {
  background-color: #000;
}

/*Footer Section*/

footer {
  background-color: #ffc017;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
}

/*Auth Form Section*/

.auth-form-container {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  margin: 30px auto;
  width: 40vw;
}

.auth-form-container h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 30px;

  width: 80%;
}

.auth-form-container .input-container {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  color: #999999;
}

.auth-form-container div label {
  margin-right: auto;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 10px;
}

.auth-form-container div input {
  width: 100%;
  height: 50px;
  border: 1px inset;
  border-radius: 20px;
  color: #999999;
  margin: 10px 0;
  font-size: 15px;
  font-weight: 100;
  padding-left: 10px;
}

.auth-form-container div input:focus {
  outline: none;
}

.auth-form-container div input::placeholder {
  color: #999999;
}

.auth-form-container button {
  width: 80%;
  height: 50px;
  background: #999999;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
}

.login-form {
  height: 70vh;
}

/*BlogList Section*/

.bloglist-container {
  margin: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: space-between;
}

.blog-container {
  background-color: #2e494a;
  color: #fff;
  margin: 10px 0;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
}

.blog-container h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 5px 0;
  margin-bottom: 10px;
}

.blog-container .author,
.date {
  font-style: italic;
}

.blog-container .post {
  margin: 10px 0;
}

.blog-container a {
  background-color: #56c870;
  color: #fff;
  display: block;
  width: 100px;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  border-radius: 10px;
}

.blog-container a:hover {
  background-color: #fff;
  color: #56c870;
  font-weight: 500;
}

/*Single Blog Page */

.single-blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.single-blog-page h2 {
  font-weight: 700;
  margin: 20px 0;
}

.single-blog-page .post {
  margin: 20px 40px;
  line-height: 1.5em;
}

.single-blog-page a {
  background-color: #5c5a54;
  color: #fff;
  height: 40px;
  width: 150px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
}

/*Write a New Blog*/
.write {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.write h2 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
}

.write div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.write div label {
  font-weight: 500;
  font-size: 1.1em;
  margin: 0 auto;
  margin-bottom: 7px;
}

.write div input {
  height: 40px;
  width: 350px;
  border-radius: 10px;
  padding-left: 10px;
}

.write div textarea {
  height: 250px;
  width: 350px;
  border-radius: 10px;
  padding-left: 10px;
}
.write div textarea:focus {
  outline: none;
}
.write button {
  background-color: #ffc017;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  margin-bottom: 20px;
  width: 200px;
}

/*  */
